/* You can create a CSS file, e.g., App.css, and include your styles there. */

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Hero section */
  .probootstrap-hero {
    background-image: url('img/hero_bg_bw_1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 400px; /* Adjust the height as needed */
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Slider text in hero section */
  .probootstrap-slider-text {
    margin-top: 20px;
  }
  
  /* Probootstrap section */
  .probootstrap-section {
    padding: 40px 0;
    text-align: center;
  }
  
  /* Footer */
  .probootstrap-footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  /* Copyright */
  .probootstrap-copyright {
    margin-top: 20px;
  }
  
  /* Back to top */
  .probootstrap-back-to-top {
    text-align: right;
    color: #fff;
  }
  
  /* Responsive design */
  @media screen and (max-width: 768px) {
    /* Define responsive styles here */
  }
  