.section {
  background-color: grey;
  background-image: url(./section.png);
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
}

.section .overlap-group {
  height: 139px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 50px;
  width: 90%;
  max-width: 1200px;
}

.section .heading-tuinue {
  color: #ffff;
  font-family: "Montserrat-Black", Helvetica;
  font-size: 80px;
  font-weight: 900;
  height: 97px;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  width: 903px;
}

.section .heading-together {
  color: #ffffff;
  font-family: "Lato-Light", Helvetica;
  font-size: 30px;
  font-weight: 300;
  height: 60px;
  left: 0;
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  top: 79px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.section .charities-list {
  background-color: #d261d4;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
}

.section .charities-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section .charities-list ul {
  list-style: none;
  padding: 0;
}

.section .charities-list li {
  margin-bottom: 20px;
}

.section .charities-list h3 {
  font-size: 20px;
}

.section .charities-list img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section .charities-list p {
  font-size: 16px;
}

.section .charities-list a {
  color: #007bff;
  text-decoration: none;
}

.charity-entry {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.charity-entry img {
  max-width: 200px;
  height: 200px;
  margin-right: 20px;
  border: 1px solid #ddd; /* Border for the images */
  border-radius: 5px; /* Border radius for the images */
}

.charity-entry p {
  flex: 2;
  font-size: 16px;
  margin: 0;
}

.section .charities-list ul {
  list-style: none;
  padding: 0;
}
