.section {
  background-color: grey;
  background-image: url(./section.png);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

.section .overlap-group {
  height: 139px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 50px;
  width: 90%;
  max-width: 1200px;
}

.section .heading-tuinue {
  color: #ffff;
  font-family: "Montserrat-Black", Helvetica;
  font-size: 80px;
  font-weight: 900;
  height: 97px;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  width: 903px;
}

.section .heading-together {
  color: #ffffff;
  font-family: "Lato-Light", Helvetica;
  font-size: 30px;
  font-weight: 300;
  height: 60px;
  left: 0;
  letter-spacing: 0;
  line-height: 1.2;
  position: absolute;
  top: 79px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.section .charities-list {
  background-color: #d261d4;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
}

.section .charities-list h2 {
  font-size: 2.5vw;
  margin-bottom: 10px;
}

.section .charities-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section .charities-list li {
  margin: 10px; /* Adjust spacing */
  width: calc(33.33% - 20px); /* Responsive width for columns */
  text-align: center;
}

.section .charities-list h3 {
  font-size: 2vw;
}

.section .charities-list img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section .charities-list p {
  font-size: 1.5vw;
}

.section .charities-list a {
  color: #007bff;
  text-decoration: none;
}

.section .charity-entry {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.section .charity-entry img {
  max-width: 30%;
  height: auto;
  margin-right: 20px; /* Adjust spacing between image and text */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section .charity-entry p {
  flex: 1;
  font-size: 16px;
  margin: 0;
}

.section .charities-list ul {
  list-style: none;
  padding: 0;
}
