body {
  font-family: 'Arial', sans-serif;
  background-color: #555555;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Set a maximum width */
  width: 80%; /* Adjust width based on your design */
  text-align: center;
  margin: auto;
}

h1 {
  color: #fff;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* Change label color for better contrast */
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000; /* Change text color to black */
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

p {
  margin-top: 16px;
  text-align: center;
}

span {
  color: #3498db;
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  form {
    width: 90%; /* Adjust width for smaller screens */
  }
}
